<%= stylesheet_link_tag ("index") %>

<div class="sidecont">
    <div class="sidebar">
        <div class="logo">
            <div>YK</div>
        </div>
        <div class="option">
            <div class="tab"><%= link_to "DASHBOARD", moves_path %></div>
            <div class="tab"><%= link_to "PROJETS", projets_path %></div>
            <div class="tab">A PROPOS</div>
        </div>
        <div class="user">
            <%= @user.first_name %> <%= @user.last_name %>
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item" do %>
                <i class="fa-solid fa-right-from-bracket"></i>
            <%end%>
        </div>
    </div>
</div>

<div class="container">
    <div class=navbar>
            <div class="logo2">
            <div>YK</div>
        </div>
        <div class="option2">
            <div class="tab"><%= link_to "Dashboard", moves_path %></div>
            <div class="tab"><%= link_to "Projets", projets_path %></div>
            <div class="tab">A Propos</div>
        </div>       
        <div class="user2">
            <div> Yoaki Niscoise </div>
                <%= link_to destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item" do %>
                    <i class="fa-solid fa-right-from-bracket"></i>
                <%end%>
        </div>
        <i class="fa-solid fa-bars menu"></i>
    </div>
    <div class=supérieur>
        <div class=titlezone>
            <h1>Bienvenue <%= @user.first_name %> <%= @user.last_name %> </h1>
            <div>Nous sommes là pour vous aider à gérer votre argent !</div>
        </div>
    <%= link_to "Nouveau projet", new_projet_path , class: "projbutton" %>  
    </div>
    <div class="inferieur bis">
        <div class="transaction proj">
            <div class="titlep">Projets à financés</div>
            <table class = "transtable pver">
                <thead>
                    <tr>
                        <th>Priorité</th>
                        <th>Nom</th>
                        <th>Montant</th>
                        <th>Etat</th>
                        <th>Restant</th>
                        <th>Option</th>
                        <th>Financer</th>
                    </tr>
                </thead>
                <tbody>
                    <% @user.projets.sort{ |a, b| a.priority <=> b.priority }.find_all{|projet| projet.complete == false}.each do |projet| %>
                        <tr>
                            <td class="centered_text"><%= projet.priority %></td> 
                            <td><%= projet.name %></td> 
                            <td><%= projet.amount %> €</td> 
                            <td>
                                <div class="progress-bar">
                                    <span class="bar">
                                        <span class="progress" style="width:<%= projet.load.round(1) %>%"></span>
                                    </span>
                                </div>
                            </td>
                            <td><%= projet.month_left.round(1) %> mois</td>
                            <td class="centered_text"><%= link_to edit_projet_path(projet) do %>  <i class="fa-solid fa-pen-to-square"></i> <%end %> </td> 
                            <td class="centered_text"><%= link_to projet_completion_path(projet) do %> <i class="fa-solid fa-money-bill"></i> Payer <%end %> </td> 
                        </tr>
                    <%end%>
                </tbody>
            </table>    
        </div>  
        <div class="transaction proj">
            <div class="titlep">Historique de projet</div>
            <table class = "transtable pver">
                <thead>
                    <tr>
                        <th>Priorité</th>
                        <th>Nom</th>
                        <th>Montant</th>
                        <th>Etat</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    <% @user.projets.sort{ |a, b| a.priority <=> b.priority }.find_all{|projet| projet.complete == true}.each do |projet| %>
                        <tr>
                            <td class="centered_text"><%= projet.priority %></td> 
                            <td><%= projet.name %></td> 
                            <td><%= projet.amount %> €</td> 
                            <td>
                                <div class="progress-bar">
                                    <span class="bar">
                                        <span class="progress" style="width:<%= projet.load.round(1) %>%"></span>
                                    </span>
                                </div>
                            </td>
                            <td class="centered_text"><%= link_to edit_projet_path(projet) do %>  <i class="fa-solid fa-pen-to-square"></i> <%end %> </td> 
                        </tr>
                    <%end%>
                </tbody>
            </table>    
        </div>  
    </div>
</div>