<h1>Moves#edit</h1>
<p>Find me in app/views/moves/edit.html.erb</p>
<%= form_with model: @move do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :type %>
  <%= f.select :version, ['Revenu régulier', 'Revenu ponctuel','Dépense régulière','Dépense ponctuelle','Investissement boursier','Epargne']%>
  <%= f.label :amount %>
  <%= f.number_field :amount %>
  <%= f.label :taux %>
  <%= f.number_field :taux %>
  <%= f.submit %>
<% end %>

<%= link_to "delete", move_path(@move), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>