<%= stylesheet_link_tag ("index") %>
<div class="sidecont">
    <div class="sidebar">
        <div class="logo">
            <div>YK.NSC</div>
        </div>
        <div class="option">
            <h2> User id: <%= @user.id %></h2>
            <h2> User gdata: <%= @user.gdata %></h2>
            <h4> <%= @veuro %> EUR/USD  </h4>
        </div>
        <div class="user">
            Yoaki Niscoise
            <div>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item", class: "logout" %>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class=navbar>
            <div class="logo2">
            <div>YK.NSC</div>
        </div>

        <div class="user2">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item", class: "logout" %>
            <div> Yoaki Niscoise </div>
        </div>
    </div>
    <div class=supérieur>
        <div class=titlezone>
            <h1>Welcome <%= @user.email %> </h1>
            <div>We are here to help you manage your money!</div>
        </div>
    </div>

    <div class="cardcontainer">
        <div class="card" >
            <div>
                <div class="title">Cashflow</div>
                <div class="value"> <%= @user.cashflow > 0 ? "+ #{@user.cashflow}€" : "#{@user.cashflow} €"  %> </div>
                <div class="sub"> Variation(mois) : <%= @var > 0 ? "+ #{@var} %" : "#{@var} %"  %> </div>
            </div>
        </div>
        <div class="card" >
            <div>
                <div class="title">Revenu Mensuel</div>
                <div class="value"> <%= @user.cashflow > 0 ? "+ #{@rev}€" : "#{@rev} €"  %> </div>
                <div class="sub"> Top : <%= @rank %>  % ( France ) </div>
            </div>
        </div>
        <div class="card" >
            <div>
                <div class="title">Liquidité</div>
                <div class="value"> <%= @snake > 0 ? "+ #{@snake}€" : "#{@snake} €"  %> </div>
                <div class="sub"> Epargne(6 mois) : <%= @user.epargne %>/<%= @goal %>€ </div>
            </div>
        </div>
    </div>
    
    <div class="inferieur">
        <div class="graphcont">
            <div class="graph">
                <div>Cashflow Tracking</div>
                <%= area_chart @user.gdata.last(12), height: "27vh"  %>
            </div>
        </div>
        <div class="transaction">
                <%= link_to "Ajouter une transaction", new_move_path, class: "addbutton" %>
            <ol>
                <h3>Revenu</h3>
                <% @moves.each do |move| %>
                    <% if ( ["Revenu régulier", "Revenu ponctuel", "Investissement boursier"].include? move.version)  %>
                        <li> 
                            <%= move.date.to_date %> <%= move.name %> <%= move.version %> <%= move.amount %>
                            <%= link_to "edit", edit_move_path(move.id)  %> 
                            <%= link_to "delete", move_path(move), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>  
                        </li>
                    <% end %>
                <%end%>

                <h3>Dépense</h3>
                <% @moves.each do |move| %>
                    <% if ( ["Dépense régulière", "Dépense ponctuelle"].include? move.version)  %>
                        <li>
                            <%= move.date.to_date %> <%= move.name %> <%= move.version %> <%= move.amount %> 
                            <%= link_to "edit", edit_move_path(move.id)  %> 
                            <%= link_to "delete", move_path(move), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>  
                        </li>
                    <% end %>
                <%end%>

                <h3>Epargne</h3>
                <% @moves.each do |move| %>
                    <% if (move.version == "Epargne")  %>
                        <li>
                            <%= move.date.to_date %> <%= move.name %> <%= move.amount %> 
                            <%= link_to "edit", edit_move_path(move.id)  %> 
                            <%= link_to "delete", move_path(move), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>  
                        </li>
                    <% end %>
                <%end%>
            </ol>
        </div>
    </div> 
</div>