<h2> User id: <%= @user.id %></h2>
<h1>Cashflow</h1>
<h1> <%= @user.cashflow %> </h1>
<h2>Epargne</h2>
<h2> <%= @user.epargne %>/<%= @goal %></h2>
<%= link_to "Nouveau flux", new_move_path  %>
<ol>
    <h3>Revenu</h3>
    <% @moves.each do |move| %>
        <% if (move.amount > 0 && move.version != "epargne")  %>
            <li>
                <%= move.date.to_date %> <%= move.name %> <%= move.version %> <%= move.amount %> 
                <%= link_to "edit", edit_move_path(move.id)  %> 
                <%= link_to "delete", move_path(move), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>  
            </li>
        <% end %>
    <%end%>
    <h3>Dépense</h3>
    <% @moves.each do |move| %>
         <% if (move.amount < 0)  %>
            <li>
                <%= move.date.to_date %> <%= move.name %> <%= move.version %> <%= move.amount %> 
                <%= link_to "edit", edit_move_path(move.id)  %> 
                <%= link_to "delete", move_path(move), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>  
            </li>
         <% end %>
    <%end%>
    <h3>Epargne</h3>
    <% @moves.each do |move| %>
         <% if (move.version == "epargne")  %>
            <li>
                <%= move.date.to_date %> <%= move.name %> <%= move.version %> <%= move.amount %> 
                <%= link_to "edit", edit_move_path(move.id)  %> 
                <%= link_to "delete", move_path(move), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>  
            </li>
         <% end %>
    <%end%>
</ol>