<%= stylesheet_link_tag ("index") %>

<div class="sidecont">
    <div class="sidebar">
        <div class="logo">
            <div>YK</div>
        </div>
        <div class="option">
            <div class="tab"><%= link_to "DASHBOARD", moves_path %></div>
            <div class="tab"><%= link_to "PROJETS", projets_path %></div>
            <div class="tab">ABOUT</div>
        </div>
        <div class="user">
            <%= @user.first_name %> <%= @user.last_name %>
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item" do %>
                <i class="fa-solid fa-right-from-bracket"></i>
            <%end%>
        </div>
    </div>
</div>
<div class="container">
    <div class=navbar>
            <div class="logo2">
            <div>YK</div>
        </div>
        <div class="option2">
            <div class="tab"><%= link_to "Dashboard", moves_path %></div>
            <div class="tab"><%= link_to "Projets", projets_path %></div>
            <div class="tab">About</div>
        </div>       
        <div class="user2">
            <div> Yoaki Niscoise </div>
                <%= link_to destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item" do %>
                    <i class="fa-solid fa-right-from-bracket"></i>
                <%end%>
        </div>
        <i class="fa-solid fa-bars menu"></i>
    </div>
    <div class=supérieur>
        <div class=titlezone>
            <h1>Welcome <%= @user.first_name %> <%= @user.last_name %> </h1>
            <div>We are here to help you manage your money!</div>
        </div>
    </div>

    <div class="cardcontainer">
        <div class="card" >
            <div>
                <div class="title">Cashflow</div>
                <div class="value"> <%= @user.cashflow > 0 ? "+ #{@user.cashflow.round(2)} €" : "#{@user.cashflow.round(2)} €"  %> </div>
                <div class="sub"> Variation(mois) : <%= @var > 0 ? "+ #{@var} %" : "#{@var} %"  %> </div>
            </div>
        </div>
        <div class="card" >
            <div>
                <div class="title">Revenu Mensuel</div>
                <div class="value"> <%= @user.cashflow > 0 ? "+ #{@rev.round(2)} €" : "#{@rev.round(2)} €"  %> </div>
                <div class="sub"> Top : <%= @rank %> % | Dépense : -<%= @lose %> € </div>
            </div>
        </div>
        <div class="card" >
            <div>
                <div class="title">Liquidité</div>
                <div class="value"> <%= @user.liquidity > 0 ? "+ #{@user.liquidity.round(2)} €" : "#{@user.liquidity.round(2)} €"  %> </div>
                <div class="sub"> Epargne(6 mois) : <%= @user.epargne %>/<%= @goal %>€ </div>
            </div>
        </div>
    </div>
    
    <div class="inferieur">
        <div class="graphcont">
            <div class="graph">
                <div class=graphtitle>
                    <div>Cashflow Tracking</div>
                    <%= link_to "Ajouter une transaction", new_move_path, class: "addbutton" %>
                </div>
                <%= area_chart @user.gdata.last(12), height: "27vh"  %>
            </div>
        </div>
        <div class="transaction">
            <table class = transtable>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Montant</th>
                        <th>Option</th>

                    </tr>
                </thead>
                <tbody>
                    <% @user.moves.sort.each do |move| %>
                        <tr>
                            <td><%= move.name %></td> 
                            <td><%= move.version %></td> 
                            <td><%= move.amount %> €</td> 
                            <td><%= link_to edit_move_path(move.id) do %> <i class="fa-solid fa-pen-to-square"></i> <%end %> </td> 
                        </tr>
                    <%end%>
                </tbody>
            </table>    
        </div>
    </div> 
</div>