<%= stylesheet_link_tag ("index") %>

<div class="sidecont">
    <div class="sidebar">
        <div class="logo">
            <div>YK</div>
        </div>
        <div class="option">
            <div class="tab">DASHBOARD</div>
            <div class="tab">PROJET</div>
            <div class="tab">ABOUT</div>
        </div>
        <div class="user">
            Yoaki Niscoise
            <div>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item", class: "logout" %>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class=navbar>
            <div class="logo2">
            <div>YK</div>
        </div>
        <div class="option2">
            <div class="tab">Dashboard</div>
            <div class="tab">Projet</div>
            <div class="tab">About</div>
        </div>       
        <div class="user2">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item", class: "logout" %>
            <div> Yoaki Niscoise </div>
        </div>
        <div class="menu">Menu</div>
    </div>
    <div class=supérieur>
        <div class=titlezone>
            <h1>Welcome <%= @user.email %> </h1>
            <div>We are here to help you manage your money!</div>
        </div>
    </div>

    <div class="cardcontainer">
        <div class="card" >
            <div>
                <div class="title">Cashflow</div>
                <div class="value"> <%= @user.cashflow > 0 ? "+ #{@user.cashflow.to_f} €" : "#{@user.cashflow.to_f} €"  %> </div>
                <div class="sub"> Variation(mois) : <%= @var > 0 ? "+ #{@var} %" : "#{@var} %"  %> </div>
            </div>
        </div>
        <div class="card" >
            <div>
                <div class="title">Revenu Mensuel</div>
                <div class="value"> <%= @user.cashflow > 0 ? "+ #{@rev.to_f} €" : "#{@rev.to_f} €"  %> </div>
                <div class="sub"> Top : <%= @rank %> % | Dépense : -<%= @lose %> € </div>
            </div>
        </div>
        <div class="card" >
            <div>
                <div class="title">Liquidité</div>
                <div class="value"> <%= @snake > 0 ? "+ #{@snake.to_f} €" : "#{@snake.to_f} €"  %> </div>
                <div class="sub"> Epargne(6 mois) : <%= @user.epargne %>/<%= @goal %>€ </div>
            </div>
        </div>
    </div>
    
    <div class="inferieur">
        <div class="graphcont">
            <div class="graph">
                <div class=graphtitle>
                    <div>Cashflow Tracking</div>
                    <%= link_to "Ajouter une transaction", new_move_path, class: "addbutton" %>
                </div>
                <%= area_chart @user.gdata.last(12), height: "27vh"  %>
            </div>
        </div>
        <div class="transaction">
            <table class = transtable>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Montant</th>
                        <th>Option</th>

                    </tr>
                </thead>
                <tbody>
                    <% @user.moves.sort.each do |move| %>
                        <tr>
                            <td><%= move.name %></td> 
                            <td><%= move.version %></td> 
                            <td><%= move.amount %> €</td> 
                            <td><%= link_to "Modifier", edit_move_path(move.id)  %></td> 
                        </tr>
                    <%end%>
                </tbody>
            </table>    
        </div>
    </div> 
</div>