<h1>Moves#new</h1>
<p>Find me in app/views/moves/new.html.erb</p>
<%= form_with model: @move do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :type %>
  <%= f.select :version, ['Revenu régulier', 'Revenu ponctuel','Dépense régulière','Dépense ponctuelle','Investissement boursier','Epargne']%>
  <%= f.label :amount %>
  <%= f.number_field :amount %>
  <%= f.submit %>
<% end %>