<%= stylesheet_link_tag ("new") %>

<div class="navbar v2">
        <div class="logo2">
        <div>YK</div>
    </div>
    <div class="option2">
        <div class="tab"><%= link_to "Dashboard", moves_path %></div>
        <div class="tab">Projets</div>
        <div class="tab">About</div>
    </div>       
    <div class="user2">
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item", class: "logout" %>
        <div> Yoaki Niscoise </div>
    </div>
    <div class="menu">Menu</div>
</div>

<div class="fakebody">
  <div class="containerform">

    <% if @move.errors.any? %>
      <div class="titleform error"> 
        <% @move.errors.full_messages.each do |message|%>
          <%= message %> <br> 
        <%end%>
      </div>
    <%else%>
      <div class="titleform"> TRANSACTION FORM</div>  
    <%end%>

    <%= form_with model: @move, data: {turbo: false}  do |f| %>
      <div class="row">
        <%= f.label :name, "Nom"%>
        <%= f.text_field :name %>
      </div>
      <div class="row">
            <%= f.label :amount,"Montant" %>
        <%= f.number_field :amount, step: :any %>
      </div>
      <div class="rdfield">
        <% ['Revenu régulier', 'Revenu ponctuel','Dépense régulière','Dépense ponctuelle','Epargne'].each do |type|%>
          <div>
            <%= f.radio_button :version, type%>
            <%= f.label :type, type %>
          </div>
        <%end%>
      </div>
        <%= f.submit value:"AJOUTER", class:"submit b" %>
    <% end %>
  </div>
</div>