<%= stylesheet_link_tag ("new") %>

<div class="navbar v2">
        <div class="logo2">
        <div>YK</div>
    </div>
    <div class="option2">
        <div class="tab"></div>
        <div class="tab"></div>
        <div class="tab">About</div>
    </div>       
    <div class="menu">Menu</div>
</div>

<div class="fakebody">
  <div class="containerform">
    <div class="titleform"> CONNEXION FORM</div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),data: {turbo: false}) do |f| %>
      <div class="row">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
        <div class="row">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

      <div class="rdfield">
        <% if devise_mapping.rememberable? %>
          <div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
          </div>
        <%end%>
      </div>
        <%= f.submit value:"LOG IN", class:"submit b3" %>
        <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>